<template>
    <div class="flex justify-between">
        <div>
            <!-- [ LOGO ELEMENT ] -->
            <a href="https://www.gfinityesports.com">
                <Box class="cursor-pointer hover:bg-darkBlue transition-all">
                    <p class="bold text-lg tracking-wide">GFINITY</p>
                </Box>
            </a>
        </div>
        <div>
            <!-- [ NAVBAR BUTTON ] -->
            <img src="~/assets/images/nav-background.png" class="absolute top-0 right-0" v-if="showBg"/>
            <div @click="toggleMenu">
                <Box bgColor="none" textColor="text-black" class="relative hover:text-darkBlue transition-all cursor-pointer">
                    <Nextto spacing="space-x-7">
                        <template v-slot:left>
                            <p class="bold"> FIFA 19 </p>
                        </template>
                        <template v-slot:right>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4 8h16M4 16h16" />
                            </svg>
                        </template>
                    </Nextto>
                </Box>
            </div>
        </div>
        <!-- [ NAVBAR BOX WITH ITEMS ] -->
        <Transition name="fade">
            <Navbar v-if="showMenu" :items="menuItems"></Navbar>
        </Transition>
    </div>
</template>

<script>
export default {
    data() {
        return {
            showMenu: false,
            menuItems: [
                // external true = a href if false then nuxtto
                { name: 'Gfinityesports', link: 'https://www.gfinityesports.com', external: true },
                { name: 'Epicstream', link: 'https://epicstream.com', external: true },
                { name: 'SiegeGG', link: 'https://siege.gg', external: true },
                { name: 'MtgRocks', link: 'https://mtgrocks.com', external: true }
            ]
        }
    },
    props: {
        showBg: {
            type: Boolean,
            default: false,
        }
    },
    created() {
        this.$nuxt.$on('closeMenu', () => this.showMenu = false);
    },
    methods: {
        toggleMenu() {
            this.showMenu = true;
            $nuxt.$emit('hidePage');
        }
    }
}
</script>