<template>
    <div :class="['flex', spacing, padding, justify]">
        <div :class="leftAlign">
            <slot name="left"></slot>
        </div>
        <div :class="rightAlign"> 
            <slot name="right"></slot>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        spacing: {
            type: String,
        },
        padding: {
            type: String,
        },
        leftAlign: {
            type: String
        },
        rightAlign: {
            type: String
        },
        justify: {
            type: String
        }
    }
}
</script>
