<template>
    <div>
        <div v-if="player">
            <img :src="require(`~/assets/images/${image}`)" class="rounded-md w-full h-full" />
            <div class="py-3">
                <p class="text-darkGrey">{{ role }} /</p>
                <p class="bold text-2xl">{{ name }}</p>
            </div>
        </div>
        <div v-else>
            <img :src="require(`~/assets/images/default.png`)" class="rounded-md w-full h-full border border-lightGrey" />
            <div class="py-3">
                <p class="text-darkGrey">Team Player /</p>
                <Nextto spacing="space-x-2" rightAlign="m-auto" class="hover:translate-x-2 transition-all cursor-pointer">
                    <template v-slot:left>
                        <p class="bold text-2xl">Invite Player</p>
                    </template>
                    <template v-slot:right>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
                        </svg>
                    </template>
                </Nextto>
            </div>
        </div>
        <Nextto spacing="space-x-4" v-show="ready">
            <template v-slot:left>
                <BadgeBorder text="READY" thickness="border-2" />
            </template>
            <template v-slot:right>
                <div class="flex space-x-1">
                    <div> <p class="bold text-red text-lg">G</p> </div>
                    <div> <p class="bold text-red text-xs">74</p> </div>
                </div>
            </template>
        </Nextto>
    </div>
</template>

<script>
export default {
    props: {
        player: {
            type: Boolean,
            required: true,
        },
        name: {
            type: String,
        },
        role: {
            type: String,
        },
        image: {
            type: String,
        },
        ready: {
            type: Boolean,
        }
    }
}
</script>
