<template>
    <div class="flex overflow-x-auto space-x-7">
      <div v-for="player in players" :key="player.uuid" class="w-1/3 py-6">
        <Card 
          :player="true"
          :name="player.name" 
          :role="player.role" 
          :ready="player.ready"
          :image="player.image"
        />
      </div>
      <div class="w-1/3 py-6">
        <Card 
          :player="false"
        />
      </div>
    </div>
</template>

<script>
export default {
    props: {
        players: {
            type: Array,
            required: true,
        }
    }
}
</script>
