<template>
    <div :class="['border', borderColor, marginTop]"></div>
</template>

<script>
export default {
    props: {
        borderColor: {
            default: 'border-lightGrey',
            type: String,
        },
        marginTop: {
            type: String,
        }
    }
}
</script>
