<template>
    <div>
        <div v-for="option in options" :key="option.title">
            <Borderbottom />

            <Nextto justify="justify-between" padding="py-6" leftAlign="mt-auto mb-auto" rightAlign="w-1/2">
                <template v-slot:left>
                    <p class="bold text-left">{{ option.title }}</p>
                </template>
                <template v-slot:right>
                    <select :id="option.title" class="form-select border-none outline-none w-full bg-primaryBg">
                        <option v-for="(value, index) in option.options" :key="index"> 
                            {{ value }}
                        </option>
                    </select>
                </template>
            </Nextto>
        
        </div>
    </div>
</template>

<script>
export default {
    props: {
        options: {
            type: Array,
            required: true,
        }
    }
}
</script>