<template>
    <Transition>
        <div class="absolute w-full top-0 h-screen bg-black text-white">
            <div class="py-5">
                <div class="relative">
                    <div class="w-full text-center mt-4">
                        <p class="text-2xl bold">GFINITY</p>
                    </div>
                    <div class="absolute top-0 right-6 hover:rotate-90 cursor-pointer transition-all" @click="$nuxt.$emit('closeMenu');">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </div>
                </div>
            </div>  

            <div class="flex flex-col items-center bg-black">
                <NavbarItem 
                    v-for="(item,index) in items" 
                    :key="index" 
                    :name="item.name"
                    :external="item.external"
                    :link="item.link"
                ></NavbarItem>
            </div>

        </div>
    </Transition>
</template>

<script>
export default {
    props: {
        items: {
            type: Array,
            required: true
        }
    },
}
</script>