<template>
    <div class="w-full py-5 px-20">
        <div class="border-2 border-white text-center hover:bg-white hover:text-black transition-all">
            <a :href="link" v-if="external">
                <p class="text-lg bold block py-5">
                    {{ name }}
                </p>
            </a>
            <NuxtLink :to="link" v-if="!external">
                <p class="text-lg bold block py-5">
                    {{ name }}
                </p>
            </NuxtLink>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        name: {
            type: String,
            required: true
        },
        external: {
            type: Boolean,
            required: true
        },
        link: {
            type: String,
            required: true
        }
    }
}
</script>
