<template>
    <div :class="[bgColor, textColor, 'px-5 py-10']">
        <slot></slot>
    </div>
</template>

<script>
export default {
    props: {
        bgColor: {
            type: String,
            default: 'bg-black',
            required: false,
        },
        textColor: {
            type: String,
            default: 'text-white',
            required: false,
        }
    }
}
</script>
