@font-face {
    font-family: "Akzidenzgrotesk";
    font-weight: regular;
    src: url('~static/fonts/Akzidenzgrotesk/akzidenzgrotesk-regular.ttf') format("truetype");
}

@font-face {
    font-family: "Akzidenzgrotesk";
    font-weight: medium;
    src: url('~static/fonts/Akzidenzgrotesk/akzidenzgrotesk-medium.ttf') format("truetype");
}

@font-face {
    font-family: "Akzidenzgrotesk";
    font-weight: light;
    src: url('~static/fonts/Akzidenzgrotesk/akzidenzgrotesk-light.ttf') format("truetype");
}

@font-face {
    font-family: "Akzidenzgrotesk";
    font-weight: bold;
    src: url('~static/fonts/Akzidenzgrotesk/akzidenzgrotesk-bold.ttf') format("truetype");
}

body {
    font-family: "Akzidenzgrotesk";
    font-weight: medium;
    @apply bg-primaryBg;
}

.bold {
    font-family: "Akzidenzgrotesk";
    font-weight: bold;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}