<template>
    <div :class="[thickness, borderColor, 'px-2', 'py-1', 'w-auto', 'inline-block']">
        <p class="bold tracking-widest text-xs"> {{ text }} </p>
    </div>
</template>

<script lang="ts">
export default {
    props: {
        text: {
            type: String,
            required: true
        },
        borderColor: {
            type: String,
            default: 'border-black'
        },
        thickness: {
            type: String,
            default: 'border'
        }
    }
}
</script>
