<template>
    <div :class="['px-3', 'py-0.5', 'rounded-tr-full', 'rounded-br-full', 'w-auto', 'inline-block', bgColor, txtColor]">
        <p class="bold tracking-widest">{{ text }}</p>
    </div>
</template>

<script>
export default {
    props: {
        text: {
            type: String,
            required: true,
        },
        bgColor: {
            type: String,
            default: 'bg-black'
        },
        txtColor: {
            type: String,
            default: 'text-white'
        }
    }
}
</script>
