<template>
    <div>
        <Header :showBg="true"/>

        <Transition name="fade">
            <div class="px-5" v-show="showPage">
                <Nuxt />
            </div>            
        </Transition>

        <Transition name="fade">
            <!-- [ PLAY NOW BUTTON ]  -->
            <div v-show="showPage">
                <NuxtLink to="search">
                    <Box bgColor="bg-darkBlue hover:bg-black cursor-pointer transition-all">
                        <div class="flex justify-between">
                            <div>
                                <p class="bold">Play now</p>
                            </div>
                            <div>
                                <Nextto spacing="space-x-20">
                                    <template v-slot:left>
                                        <p>4021 in Queue</p>
                                    </template>
                                    <template v-slot:right>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                                        </svg>
                                    </template>
                                </Nextto>
                            </div>
                        </div>
                    </Box>
                </NuxtLink>
            </div>
        </Transition>
    </div>
</template>

<script>
export default {
    data() {
        return {
            showPage: true,
        }
    },
    created() {
        this.$nuxt.$on('closeMenu', () => this.showPage = true);
        this.$nuxt.$on('hidePage', () => this.showPage = false);
    }
}
</script>
