<template>
    <div>
        <div class="bg-no-repeat bg-cover bg-left pb-20" :style="'background-image: url(' + require(`~/assets/images/searchBg.png`) + ')'">
        <Header :showBg="false"/>
        <Transition name="fade">
            <div :class="[background.container, 'opacity-90', 'w-100', 'mr-7', 'relative', 'transition-all']" v-show="showPage">

                <NuxtLink to="/">
                    <Box class="w-28 flex justify-center items-center hover:-translate-x-2 transition-all">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
                        </svg>
                    </Box>
                </NuxtLink>

                <div class="py-10 px-7 text-white">
                    <Nuxt />
                </div>

                <Box class="w-2/3 absolute -bottom-12 -right-7 hover:bg-black transition-all" :class="(acceptIcon) ? 'cursor-pointer' : ''" :bgColor="background.searchBar">
                    <div class="flex justify-between px-4">
                        <div>
                            <p class="bold">{{ searchText }}</p>
                        </div>
                        <div>
                            <Nextto spacing="space-x-4">
                                <template v-slot:left>
                                    <p>{{ makeTwoDigits(counterMinutes.current) }}:{{ makeTwoDigits(counterSeconds.current )}}</p>
                                </template>
                                <template v-slot:right>
                                    <div v-if="acceptIcon">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                                        </svg>
                                    </div>
                                    <div v-else-if="crossIcon">
                                        <svg @click="cancelTimer" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                        </svg>
                                    </div>
                                    <div v-else>
                                        <svg @click="search" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                                        </svg>
                                    </div>
                                </template>
                            </Nextto>
                        </div>
                    </div>
                </Box>
            </div>  
        </Transition>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            searchText: 'Searching...',
            showPage: true,
            background: {
                container: 'bg-darkBlue',
                searchBar: 'bg-black'
            },
            counterMinutes: {
                start: 1,
                current: 0
            },
            counterSeconds: {
                start: 42,
                current: 0
            },
            timerInstance: null,
            crossIcon: true,
            acceptIcon: false,
        }
    },
    mounted() {
        this.timerStart();
        this.$nuxt.$on('closeMenu', () => { 
            this.showPage = true; 
        });
        this.$nuxt.$on('hidePage', () => {
            this.showPage = false;
        });
    },
    methods: {
        cancelTimer() {
            this.searchText = "Searching stopped";
            this.counterSeconds.current = '--';
            this.counterMinutes.current = '--';
            this.crossIcon = false;
            this.acceptIcon = false;
            clearInterval(this.timerInstance);
        },
        search() {
            this.searchText = 'Searching...';
            this.crossIcon = true;
            this.timerStart();
        },
        timerStart() {
            this.counterMinutes.current = this.counterMinutes.start;
            this.counterSeconds.current = this.counterSeconds.start;

            this.timerInstance = setInterval(() => {
                this.counterSeconds.current--;
                
                if(this.counterSeconds.current == 0) {
                    this.counterMinutes.current--;
                    this.counterSeconds.current = 60;
                }

                //Dummy check if match found
                if(this.counterMinutes.current == 1 && this,this.counterSeconds.current == 30) {
                    clearInterval(this.timerInstance);
                    this.timerInstance = null;
                    this.background.container = 'bg-black';
                    this.background.searchBar = 'bg-darkBlue';
                    this.searchText = 'Accept';
                    this.acceptIcon = true;
                    //Change text on the website
                    $nuxt.$emit('replaceText');
                }
            }, 1000);
        },
        makeTwoDigits(x) {
            return (x < 10 ? '0' : '') + x;
        }
    }
}
</script>
