<template>
  <div>
    <NuxtLink to="search">
      <Nextto spacing="space-x-5" padding="py-5" class="hover:-translate-x-2 transition-all cursor-pointer">
          <template v-slot:left>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
              </svg>
          </template>
          <template v-slot:right>
              <p class="bold">Matchmaking Lobby</p>
          </template>
      </Nextto>
    </NuxtLink>

    <Borderbottom/>

    <Nextto spacing="space-x-4" padding="py-7" rightAlign="m-auto">
        <template v-slot:left>
            <p class="bold text-5xl">steveroesler's lobby</p>
        </template>
        <template v-slot:right>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
            </svg>
        </template>
    </Nextto>

    <Badge text="FIFA 19" />

    <div class="py-4">
      <Players :players="players" />
    </div>

    <Options :options="options" />

  </div>
</template>

<script>
export default {
  name: 'IndexPage',
  layout: 'default',
  data() {
    return {
      options: [
        {
          title: 'Type',
          options: ['Competitive', 'Cooperative']
        },
        {
          title: 'Gamemode',
          options: ['Squad battles', 'Rivals', 'Friendly']
        },
        {
          title: 'Lobby status',
          options: ['Invite only', 'public', 'private']
        }
      ],
      players: [
        {
          uuid: '876924da-e4c2-437d-a756-84082ad8eeab',
          name: 'steveroesler',
          role: 'Team Leader',
          image: 'player.png',
          ready: true,
        }
      ]
    }
  }
}
</script>