<template>
    <div>
        <header>
            <p class="bold text-lg">Matchmaking Lobby</p>
        </header>

        <Transition name="fade">
            <section>
                <p class="bold text-6xl tracking-tighter py-4 fade-in-out"> {{ heading }} </p>
                <p class="text-2xl mt-3"> {{ message }} </p>
            </section>
        </Transition>

        <section class="py-14">
            <Nextto spacing="space-x-20" padding="py-8" leftAlign="mt-auto mb-auto">
                <template v-slot:left>
                    <p>Lobby</p>
                </template>
                <template v-slot:right>
                    <img 
                        src="~/assets/images/player.png" 
                        class="rounded-full border-2 p-1.5 object-fill w-16 h-16"
                    />
                </template>
            </Nextto>

            <Nextto spacing="space-x-20">
                <template v-slot:left>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M20 12H4" />
                    </svg>
                </template>
                <template v-slot:right>
                    <Transition name="fade">
                        <p v-html="tableMessage"></p>
                    </Transition>
                </template>
            </Nextto>
        </section>

    </div>
</template>

<script>
export default {
    layout: 'search',
    created() {
        this.$nuxt.$on('replaceText', () => this.replaceText())
    },
    data() {
        return {
            heading: "Searching for compatible oponents",
            message: "We're searching our database of players to pair you with an opponent of similar skill",
            tableMessage: '<span class="bold">4,021</span> in Queue'
        }
    },
    methods: {
        replaceText() {
            this.heading = "A match has been found for you!";
            this.message = "We've found a compatible oponent for you to play Squad Battles with in FIFA 19";
            this.tableMessage = "By tapping accept, you agree to play a match that may last up to 30 minutes.";
        }
    }
}
</script>
